<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body>
    <div id="app" class="flex flex-row">
        <div class='left-container bg-orange-900 min-h-full w-6/12'>
            <div class="flex m-4 flex-wrap">
                <input v-model="flour" type="number" placeholder="flour" class="mx-4">
                <p>{{flour}}g Flour </p>
            </div>
            <div class="flex m-4 flex-wrap">
                <input v-on:keyup="calcHydration" v-model="water" type="number" placeholder="water" class="mx-4">
                <p class=>{{water}}g Water </p>
                <p class="mx-4"> {{hydration}} </p>
            </div>
            <div class="flex m-4 flex-wrap">
                <input v-on:keyup="calcSalt" v-model="salt" type="number" placeholder="salt" class="mx-4">
                <p>{{salt}}g Salt </p>
                <p class="mx-4"> {{saltContent}} </p>
            </div>
            <div class="flex m-4 flex-wrap">
                <input v-on:keyup="calcYeast" v-model="yeast" type="number" placeholder="yeast" class="mx-4">
                <p>{{yeast}}g Yeast </p>
                <p class="mx-4"> {{yeastContent}} </p>
            </div>
        </div>
        <div class='right-container bg-orange-300 min-h-screen w-6/12'>
            <a href="dough-builder.html" class="m-5">Dough Builder Tool</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/addRecipeScripts.js"></script>
</body>

</html> 